<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
    <ion-title>Products</ion-title>
    <ion-searchbar showCancelButton="focus" [(ngModel)]="productsearch" style="width: 300px; float: right"></ion-searchbar>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Custom Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let data of productCatagory" (click)="selectCategory(data)">{{data | titlecase}}</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-grid>
    <ion-row>

      <ion-col size="6" *ngFor="let item of productData | filter: productsearch">
        <ion-card>
          <img alt="Silhouette of mountains" src={{item.thumbnail}} />
          <ion-card-header>
            <ion-card-title>{{item.title}}</ion-card-title>
            <ion-card-subtitle>{{item.category}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{item.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


